{{ define "index.htm" }}

<!DOCTYPE HTML>

<html>

	<head>
<meta name="msvalidate.01" content="70F6164FA536B0A5B3E85A8EFD2ADE5A" />
<meta name="msvalidate.01" content="70F6164FA536B0A5B3E85A8EFD2ADE5A" />
	<meta name="360-site-verification" content="3ed904379f8c87ae30eea4b18a8789cd" />
	<meta name="sogou_site_verification" content="JBfF3ygpx2"/>
	<meta name="baidu_union_verify" content="0f96bbad20f0e36929913cec5012068b">
	<meta http-equiv="charset" content="ch">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="baidu-site-verification" content="srxdNb0wmk" />
    <meta name="keywords" content="吾爱磁力搜索,bt搜索,磁力云,BT磁力,磁力链接,磁力搜索,p2p种子搜索器,种子搜索,p2p种子搜索神器">
    <meta name="description" content="吾爱磁力搜索——全球领先的种子搜索引擎,是新一代的p2p种子搜索神器,致力于给广大网友提供最先进的种子搜索服务,超过1000万条的最全p2p种子库,没有你搜不到,只有你想不到!">
<!-- <script src="./res/panel.js"></script> -->
     <title>吾爱磁力搜索|磁力云|BT云|BT搜索|磁力图书馆|云中书磁力搜索|云中书BT搜索</title>

    <link href="http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

   <!--<link href="http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap-theme.css" rel="stylesheet">-->

    <link rel="stylesheet" href="/static/css/style.css" type="text/css">

    <!---- link charset="utf-8" href="/static/style/bootstrap.min.css" rel="stylesheet" /---->

    <!--[if lt IE 9]>
	
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>    <![endif]--><!--bootstrap-->


	<script src="http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>

	<script src="http://cdn.bootcss.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	
	<script>
	function do_search(){
	    if ($('#kw_input').val()==""){return;}
		location.href='/search/'+$('#kw_input').val()+"/1";
	}
	</script>
</head>

<body>

<div id="wrap">


{{template "navbar.htm" }}



<div class="container search"> 

     <div id="total">

	

     <p class="text-center">

         <img id="front-image" alt="" src="/static/img/logo.jpg" style="width:130px;height:130px;">

	 <span class="index_logo"style='color: #1870bb;' >吾爱磁力</span>      <!----共 <b>1290952</b> 个影视资源, 今日新增 <b>0</b> 个---->

    </p>



     <div class="search_form">

     <form action="" class="form-search" role="form" method="get" name="search">

     <input name="" type="hidden" value="baidu">

     <div class="input-group">

     <input type="text" class="form-control stext"  placeholder="瞅什么瞅 - -赶快搜一搜啊！" required="" autofocus="" x-webkit-speech="" id="kw_input" baidusug="1">

     <span class="input-group-btn">

     <button class="btn btn-lg btn-primary"  onclick="do_search(); return false;"/>

     <span class="glyphicon ">Let's Go!</span></button></span>

     </div></form>



<!----div id="main-search">

    <h1 class="text-center">种子吧</h1>

    <form class="main-search form-search text-center" action="/search" method="get" name="search">

        <input name="" type="hidden" value="baidu" />    

        <input type="text" class="input-xxlarge" baiduSug="1" placeholder="您想看什么电影？只有想不到，没有搜不到 - -！" name="kw" id="search" />

        <button type="submit" class="btn btn-primary">Go!</button>

    </form---->





    

    <div align="left" style="height:50px;line-height:25px;overflow:hidden; ">

    <p></p>

    <span style="font-size:14px;">热门搜索：</span>

        

            <span style="font-size:14px;padding:100;">

<a href="/search/宫崎骏/1"><span class="glyphicon glyphicon-zoom-in"></span>&nbsp;宫崎骏</a></span>&nbsp;&nbsp;&nbsp;

	         

            <span style="font-size:14px;padding:100;">

<a href="/search/九品芝麻官/1"><span class="glyphicon glyphicon-zoom-in"></span>&nbsp;九品芝麻官</a></span>&nbsp;&nbsp;&nbsp;

	         

            <span style="font-size:14px;padding:100;">

<a href="/search/功夫/1"><span class="glyphicon glyphicon-zoom-in"></span>&nbsp;功夫</a></span>&nbsp;&nbsp;&nbsp;

	         

            <span style="font-size:14px;padding:100;">

<a href="/search/千与千寻/1"><span class="glyphicon glyphicon-zoom-in"></span>&nbsp;千与千寻</a></span>&nbsp;&nbsp;&nbsp;

	         

            <span style="font-size:14px;padding:100;">

<a href="/search/钢铁侠/1"><span class="glyphicon glyphicon-zoom-in"></span>&nbsp;钢铁侠</a></span>&nbsp;&nbsp;&nbsp;

	         

			       

</div>    



</div>

   </div></div>



    </div>

<div id="footer">

   <div class="container">

	   <p class="text-muted">

	   Copyright @ 2017-2099 资源提供:<a href="http://www.cloudbooks.top/" target="_blank" style="color:#336600;">

	   <b>吾爱磁力-磁力搜索-BT搜索</b></a> All rights reserved. 备案号:皖ICP备16004259号

	  <em class="f_info">

<b><a href="about" title="免责声明"><img id="front-image" alt="" src="/static/img/mianze.png" title=""></a></b>

</em>

		<em class="f_info">

</em>

		<em class="f_info">

<a href="donate" target="_blank">

			<img id="front-image" alt="" src="/static/img/donate.png" title=""></a>

</em>

		

		</p>

	</div>

</div>

<script type="text/javascript" color="0,0,255" opacity="0.5" count="99" src="/static/js/panel.js"></script>


<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');



  ga('create', 'UA-103968667-2', 'auto');

  ga('send', 'pageview');



</script>

</body></html>

{{ end }}